.markets-data-container {
    background: #262a33;
    width: 100%;
    max-height: 40px;
}

.items-container {
    font-size: 14px;
    font-family: MetricWeb, sans-serif;
    justify-content: flex-start;
    padding: 10px;
    display: flex;
    color: white;
}

.item {
    display: flex;
    margin: 0 10px 0 10px;
}

.item-name {
}

.item-value {
    margin: 0 5px 0 5px;
}

.positive {
    color: green;
}

.negative {
    color: red;
}
